.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.thumb {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-white);

  @mixin dark {
    background-color: var(--mantine-color-black);
    border-color: var(--mantine-color-black);
  }
}

.track {
  background-color: var(--mantine-color-black);

  @mixin dark {
    background-color: var(--mantine-color-white);
  }
}
