.icon {
  width: rem(12);
  height: rem(12);
}

.dark {
  color: var(--mantine-color-black);
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  color: var(--mantine-color-white);

  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.thumb {
  @mixin dark {
    background-color: var(--mantine-color-black);
  }
}

.track {
  background-color: var(--mantine-color-black);

  @mixin dark {
    background-color: var(--mantine-color-white);
  }
}
