.root {
  &[data-variant="primary"] {
    height: rem(60);
    font-size: rem(20);
    transition: var(--app-transition-color);
    background-color: var(--mantine-color-black);

    @mixin larger-than $mantine-breakpoint-sm {
      height: rem(62);
      font-size: rem(24);
    }
  }
}
