.root {
  padding: rem(20px); /* Convert px to rem */

  /* Convert px to em (for media queries) */
  @media (max-width: em(500px)) {
  }

  /* light-dark function as an inline shortcut for light and dark mixins */
  background: light-dark(
    var(--mantine-color-cyan-1),
    var(--mantine-color-black)
  );

  /* rtl mixin to apply styles for right-to-left direction */
  padding-left: 1rem;
  @mixin rtl {
    padding-left: 0;
    padding-right: 1rem;
  }
}
