@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: "Inter", --font-sans;

  --breakpoint-xs: 36rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 62rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 88rem;

  /* Custom theme colors */
  --color-deep-obsidian: #101010;
  --color-soft-ivory: #fdfcf9;
  --color-warm-porcelain: #f0ede7;
  --color-aged-sandstone: #cbc1ae;
  --color-urban-fog: #6c6c6c;
  --color-charcoal-ember: #343333;
  --color-silver-mist: #b7b7b7;
  --color-shadow-earth: #262523;
  --color-ironwood: #43403e;

  --text-sm: 0.875rem; /* ✅ */
  --text-sm--line-height: calc(1.085 / 0.875);

  --text-base: 1rem; /* ✅ */
  --text-base--line-height: calc(1.24 / 1);

  --text-lg: 1.125rem; /* ✅ */
  --text-lg--line-height: calc(1.395 / 1.125); /* 1.24 */

  --text-xl: 1.25rem; /* ✅ */
  --text-xl--line-height: calc(1.75 / 1.25); /* 1.4 */

  --text-2xl: 1.25rem; /* ✅ */
  --text-2xl--line-height: calc(1.55 / 1.25); /* 1.24 */

  --text-3xl: 1.5rem; /* ✅ */
  --text-3xl--line-height: calc(1.875 / 1.5);

  --text-4xl: 1.75rem; /* ✅ */
  --text-4xl--line-height: calc(2.065 / 1.75); /* 1.18 */

  --text-5xl: 1.75rem; /* ✅ */
  --text-5xl--line-height: calc(2.17 / 1.75); /* 1.24 */

  --text-6xl: 1.875rem;
  --text-6xl--line-height: var(--leading-normal);

  --text-7xl: 2rem; /* ✅ */
  --text-7xl--line-height: calc(2.48 / 2);

  --text-8xl: 2.125rem; /* ✅ */
  --text-8xl--line-height: calc(2.5075 / 2.125);

  --text-9xl: 2.5rem;
  --text-9xl--line-height: 1;

  --text-10xl: 3rem; /* ✅ */
  --text-10xl--line-height: calc(3.54 / 3);

  --text-11xl: 5rem; /* ✅ */
  --text-11xl--line-height: calc(5.9 / 5);

  --text-12xl: 5.5rem; /* ✅ */
  --text-12xl--line-height: calc(6.49 / 5.5);

  --text-13xl: 6.5rem; /* ✅ */
  --text-13xl--line-height: calc(7.67 / 6.5);

  --text-14xl: 6.5rem;
  --text-14xl--line-height: var(--leading-normal);

  --text-15xl: 13.5rem; /* ✅ */
  --text-15xl--line-height: var(--leading-normal);

  --burger-line-top-transform: translateY(calc(var(--spacing) * 8 / 3))
    rotate(45deg);
  --burger-line-bottom-transform: translateY(calc(var(--spacing) * 8 / -3))
    rotate(-45deg);

  --animate-slide-down: slide-down 1s ease-out;
  --animate-collapsibleSlideDown: collapsibleSlideDown 300ms ease-out;
  --animate-collapsibleSlideUp: collapsibleSlideUp 300ms ease-out;
  --animate-scroll-left: scroll-left 30s linear infinite;
  --animate-fade-in-delay-300: fade-in 1s ease-out 0.3s both;
  --animate-fade-in-delay-500: fade-in 1s ease-out 0.5s both;
  --animate-fade-in-delay-700: fade-in 1s ease-out 0.7s both;

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes collapsibleSlideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsibleSlideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes fade-in: {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --background: var(--color-soft-ivory);
  --foreground: var(--color-deep-obsidian);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-deep-obsidian);
  --primary-foreground: var(--color-soft-ivory);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-warm-porcelain);
  --accent-foreground: var(--color-deep-obsidian);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: var(--color-deep-obsidian);
  --ring: oklch(0.708 0 0);
  --chart-1: var(--color-green-600);
  --chart-2: var(--color-blue-600);
  --chart-3: var(--color-purple-600);
  --chart-4: var(--color-amber-600);
  --chart-5: var(--color-yellow-600);
  --chart-6: var(--color-orange-600);
  --chart-7: var(--color-red-600);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: var(--color-deep-obsidian);
  --foreground: var(--color-soft-ivory);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--color-soft-ivory);
  --primary-foreground: var(--color-deep-obsidian);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: var(--color-shadow-earth);
  --accent-foreground: var(--color-soft-ivory);
  --destructive: oklch(70.4% 0.191 22.216);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: var(--color-soft-ivory);
  --ring: oklch(0.439 0 0);
  --chart-1: var(--color-green-300);
  --chart-2: var(--color-blue-300);
  --chart-3: var(--color-purple-300);
  --chart-4: var(--color-amber-300);
  --chart-5: var(--color-yellow-300);
  --chart-6: var(--color-orange-300);
  --chart-7: var(--color-red-300);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
