.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.thumb {
  @mixin dark {
    background-color: #101010;
  }
}

.track {
  background-color: #101010;

  @mixin dark {
    background-color: var(--mantine-color-white);
  }
}
